.chat-page{
  --background:#020813;
  color:#00f2ff;
}

.chat-header{
  text-align:center;
  padding:20px;
  border-bottom:1px solid rgba(0,255,255,.3);
  background:rgba(0,255,255,.05);
}

.chat-header h1{
  margin:0;
  font-size:34px;
  color:#00ffff;
  text-shadow:0 0 20px cyan;
}

.chat-header p{
  margin-top:6px;
  color:#8ffcff;
}

.messages{
  height:calc(100vh - 170px);
  overflow-y:auto;
  padding:20px;
}

.message{
  margin-bottom:15px;
  padding:15px;
  border-radius:18px;
  border:1px solid rgba(0,255,255,.3);
  background:rgba(0,255,255,.05);
  box-shadow:0 0 12px rgba(0,255,255,.15);
}

.message strong{
  color:#00ffff;
}

.user{
  margin-left:60px;
}

.jarvis{
  margin-right:60px;
}

.input-bar{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  display:flex;
  gap:10px;
  padding:12px;
  background:#03111d;
  border-top:1px solid cyan;
}

.input-bar input{
  flex:1;
  padding:14px;
  border:none;
  border-radius:30px;
  background:#081d2b;
  color:white;
  outline:none;
}

.input-bar button{
  width:90px;
  border:none;
  border-radius:30px;
  background:#00d9ff;
  color:black;
  font-weight:bold;
}