<ion-header>
  <ion-button expand="block" color="success" (click)="openChat()">
  🤖 CHAT WITH JARVIS
</ion-button>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome 👋</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h2>Hello Aadik!</h2>
      <p>You have successfully logged into JARVIS.</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="success">
    🤖 Chat with JARVIS
  </ion-button>

  <ion-button expand="block" color="tertiary">
    ⚙ Settings
  </ion-button>

  <ion-button expand="block" color="danger">
    🚪 Logout
  </ion-button>

</ion-content>